@font-face {
    font-family: Aboreto;
    src: url(fonts/Aboreto.ttf);
}


body {
    display: flex;
    justify-content: center;
    align-content: center;
}

html { 
    background: url(images/mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.box {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 60px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameAndTitle {
    text-align: center;
    font-family: Aboreto;
    font-size: 6vh;
    font-weight: 700;
    color: white;
    text-shadow: -1px 1px #f0ead6;
    text-decoration: underline;
    opacity: 1;
    -webkit-animation: fadein 2s ease-in;
    animation: fadein 2s ease-in;
}

.N {
    font-size: 8vh !important;
    word-spacing: 1.5vw;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navBar {
    position: fixed;
    bottom: -60px;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 1.8s;
}

@-webkit-keyframes slide {
    100% { bottom: 0; }
}

@keyframes slide {
    100% { bottom: 0; }
}

.navButton {
    background-color: black;
    border: 1.5px solid rgb(154, 154, 154);
    color: white;
    font-family: Kanit;
    font-size: 15px;
    text-decoration: double;
    transition: all .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navButton:hover {
    background-color: rgb(67, 67, 67);
    transition: all .2s linear;
}
.home {
    columns: 0,1;
}
.resume {
    columns: 1,2;
}
.about {
    columns: 2,3;
}
.blog {
    columns: 3,4;
}
.contact {
    columns: 4,5;
}

@Media (max-width: 600px) {
    html {
        background: rgb(73, 73, 73);
    }
    .nameAndTitle {
        position: fixed;
    }
    .navBar {
        position: relative;
        top: 0;
        display: grid;
        grid-template-rows: 150px 150px 150px 150px 150px;
        grid-template-columns: 100%;
        grid-row-gap: 7.5%;
        height: 100%;
        width: 100%;
        flex-direction: column;
        -webkit-animation: none;
        animation: none;
    }
    .navButton {
        background-color: black;
        border: 1.5px solid rgb(154, 154, 154);
        color: white;
        font-family: Kanit;
        font-size: 15px;
        text-decoration: double;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navButton:hover {
        background-color: rgb(67, 67, 67);
        transition: all .2s linear;
    }
    .home {
        grid-row: 0,1;
    }
    .resume {
        grid-row: 1,2;
    }
    .about {
        grid-row: 2,3;
    }
    .blog {
        grid-row: 3,4;
    }
    .contact {
        grid-row: 4,5;
    }
}